@model Thebes_Acadeny.AddAdminViewModel
@using Microsoft.AspNetCore.Http;


<div class="page-banner" style="background: -webkit-linear-gradient(-67deg, rgb(1, 13, 70), rgb(87, 0, 0)); background: linear-gradient(-67deg, rgb(1, 13, 70), rgb(87, 0, 0));">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <h1 class="font-weight-normal" style="color:#00ff92">اضافه مشرف جديد</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->


    <div class="page-section">
        <div class="container">

            <form asp-action="Cre" asp-controller="Admin" class="contact-form mt-5" enctype="multipart/form-data">
                <div class="row mb-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-sm-6 py-2 wow fadeInLeft">
                        <label style="text-align:right">اسم المشرف</label>
                        <input type="text" asp-for="@Model.FullName" class="form-control">
                        <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                    </div>

                    <div class="col-sm-6 py-2 wow fadeInLeft">
                        <label style="text-align:right">موبايل المشرف</label>
                        <input type="text" asp-for="@Model.PhoneNumber" class="form-control">
                        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="col-sm-6 py-2 wow fadeInLeft">
                        <label style="text-align:right">اسم المستخدم</label>
                        <input type="text" asp-for="@Model.UserName" class="form-control">
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    </div>

                    <div class="col-sm-6 py-2 wow fadeInLeft">
                        <label style="text-align:right">كلمه السر</label>
                        <input type="password" asp-for="@Model.Password" class="form-control">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>

                    <div class="col-sm-6 py-2 wow fadeInLeft">
                        <lable>اختر المستوي</lable>
                        <select class="custom-select" asp-for="@Model.LevId" asp-items="@(new SelectList(Model.Levels , "LevelId" , "LevelName"))"></select>
                        @if (ViewBag.ErrorLev != null)
                        {
                            <span class="text-danger">@ViewBag.ErrorLev</span>
                        }
                    </div>

                    <div class="col-sm-6 py-2 wow fadeInLeft">
                        <lable>اختر التخصص</lable>
                        <select class="custom-select" asp-for="@Model.SpeId" asp-items="@(new SelectList(Model.Specialties , "SpecialtiesId" , "SpecialtiesName"))"></select>
                        @if (ViewBag.ErrorSpe != null)
                        {
                            <span class="text-danger">@ViewBag.ErrorSpe</span>
                        }
                    </div>

                    <div class="col-6 py-2 wow fadeInUp">
                        <label style="text-align:right">صوره المشرف</label>
                        <input type="file" asp-for="@Model.File" name="File" class="form-control" accept="image/*">
                        <span asp-validation-for="@Model.File" class="text-danger"></span>
                    </div>
                </div>
                <input type="submit" value="اضافه" class="btn btn-info" />
            </form>
        </div>
    </div>

    @section Script{
        <partial name="Partial" />
    }