@model Thebes_Acadeny.ExamIndexViewModel

<div class="page-banner " style="background: -webkit-linear-gradient(-67deg, rgb(1, 13, 70), rgb(87, 0, 0)); background: linear-gradient(-67deg, rgb(1, 13, 70), rgb(87, 0, 0))">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <h1 class="font-weight-normal" style="color:#00ff92">قائمه الامتحانات</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->


<section id="portfolio" class="section-bg">
    <div class="container">
        <div class="text-center">
            <a style="font-size: 200%; margin: 1%" class="btn btn-secondary" asp-route-id="@Model.IdAdmin" asp-route-idpl="@Model.PlantId" asp-action="Create1" asp-controller="Exam"> اضافه امتحان جديد</a>
        </div>
        <div class="row portfolio-container">

            @if (Model.Exams.Count() != 0)
            {
                foreach (var item in Model.Exams)
                {
                    <div class="col-lg-6 col-md-6 portfolio-item filter-app wow fadeInUp">
                        <div class="portfolio-wrap">
                            <figure style="background: -webkit-linear-gradient(129deg, rgb(0, 88, 167), rgb(45, 0, 65)); background: linear-gradient(129deg, rgb(0, 88, 167), rgb(45, 0, 65)); ">
                            </figure>

                            <div class="portfolio-info" style="overflow:auto">
                                <h4>@item.Title</h4>
                                <a asp-action="Delete" asp-controller="Exam" asp-route-id="@item.ExamId" asp-route-idad="@Model.IdAdmin" asp-route-plid="@Model.PlantId" class="btn btn-danger">حذف</a>
                                <a asp-action="Edit" asp-controller="Exam" asp-route-id="@item.ExamId" asp-route-idad="@Model.IdAdmin" asp-route-plid="@Model.PlantId" class="btn btn-info">تعديل</a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</section>